<form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="book-form p-8 flex flex-col gap-6">
  <div class="flex flex-col gap-6">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="bookForm.controls.title.hasError('required')">
        Name is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" required />
      <mat-error *ngIf="bookForm.get('author')?.hasError('required')">
        Author is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput formControlName="year" type="number" required />
      <mat-error *ngIf="bookForm.get('year')?.hasError('required')">
        Year is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="bookForm.get('description')?.hasError('required')">
        Description is <strong>required</strong>.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cover Image URL</mat-label>
      <input matInput formControlName="coverImageUrl" />
    </mat-form-field>
  </div>

  <button class="w-16" mat-raised-button color="primary" type="submit" [disabled]="!bookForm.valid">Save </button>
</form>
