<form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="book-form">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input matInput formControlName="author" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Year</mat-label>
    <input matInput formControlName="year" type="number" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cover Image URL</mat-label>
    <input matInput formControlName="coverImageUrl" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
