<div class="book-list">
  <mat-toolbar color="primary">Book List</mat-toolbar>
  <mat-form-field>
    <input matInput placeholder="Search by title or author" [(ngModel)]="searchQuery" />
  </mat-form-field>
  <div *ngFor="let book of books$ | async | search:searchQuery" class="book-item">
    <mat-card>
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.author }} ({{ book.year }})</mat-card-subtitle>
      <button mat-icon-button (click)="deleteBook(book.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="addNewBook()">Add Book</button>
</div>
